<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">

    <title>SSIS</title>
  </head>



  <body>

    <!-- Navigation bar-->
    <nav class="navbar container">
      <div class="nav-item pull-left">
      <ul class="nav">
          
          <a class="navbar-brand" href="/">
            <img src="{{url_for('static',filename='logo.png')}}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
          </a>
          
          <li class="nav-item p-2" style="font-size:20px">
              <a href="{{url_for('student.students')}}" style="color:#ff5733"><strong><u>Student List</u></strong></a>
          </li>
          <li class="nav-item p-2" style="font-size:20px">
              <a href="{{url_for('course.courses')}}" style="color:#850f13"><strong>Course List</strong></a>
          </li>
         
          
          <li class="nav-item p-2" style="font-size:20px">
              <a href="{{url_for('college.colleges')}}" style="color:#850f13"><strong>College List</strong></a>
          </li>
      </ul>
      </div>
      <form action="{{url_for('student.search')}}" method="GET" class="form-inline my-2 my-lg-0 d-flex">
          <input class="form-control mr-sm-2" type="text" name="q" id="searchInput" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  </nav>
    <!-- End of navigation bar-->
    
    
    
    <div class="container">

      <div class="row">
  
          <div class="col md-12">

            <p align="right">
  
        
           <a  class="btn btn-success  pull-left" href="{{ url_for('.insert' ) }}">Add Student</a>
                        
          </p>
          
  
    
    </form>

    <!-- Table -->
    <table class="table container">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">ID no.</th>
            <th scope="col">Name</th>
            <th scope="col">Year</th>
            <th scope="col">Gender</th>
            <th scope="col">Course</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <th><img src="{{ cloudinary_url(student.6, format='jpg', width=32, height=32, crop='fill', gravity='center')[0] }}"></th>
                <th>{{student.0}}</th>
                <th>{{student.1}} {{student.2}} </th>
                <th>{{student.3}}</th>
                <th>{{student.4}}</th>
                <th>{{student.5}}</th>
                <th>
                  <a  class="btn btn-primary" href="{{ url_for('.update', id_number=student.0) }}">Update</a>
                    <a class="btn btn-danger" href="{{ url_for('.delete', id_number=student.0) }}">Delete</a>
                        

                </th>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    <!-- End of Table-->



  </body>
</html>